.container
{
	background: #fafafa;
	height: 10px;
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
}

.text
{
	margin: 2em auto;
}

.bar-container
{
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #f0f0f0;
	height: 30px;
	width: 80%;
	border-radius: 1.5em 1.5em 1.5em 0;
	max-width: 600px;
}

.bar
{
	background: #ef087a;
	height: 100%;
	width: 0%;
	border-radius: 2px;
	border-radius: 1.5em 1.5em 1.5em 0;
	transition: width 400ms;
}

.value
{
	left: 50%;
	top: calc(50% + 40px);
	position: absolute;
	color: #ce7cfb;
    font-weight: 700;
    font-size: 1.7rem;
	transform: translate(-50%, -50%);
}