.rail-container {
	display: flex;
	justify-content: center;
	bottom: calc(0% + 20px);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 245px;
	justify-content: space-evenly;
}


.rail-container button {
	width: 50px;
	height: 50px;
	background: transparent;
	border: none;
	background: white;
	display: flex;
	margin: auto;
	padding: 0;
	text-align: center;
	border-radius: 8px;
}

.action-container {
	display: flex;
	justify-content: center;
	top: calc(0% + 20px);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	justify-content: space-evenly;
}

.action-container button {
	width: 50px;
	height: 50px;
	background: transparent;
	border: none;
	background: white;
	display: flex;
	margin: auto;
	padding: 0;
	text-align: center;
	border-radius: 8px;
}

button img {
	width: 50px;
    height: 50px;
    padding: 0px 0px;
	position: relative;
}

.remove:before {
	left: 213px;
	top: 4px;
	position: absolute;
    content: " ";
    height: 40px;
    width: 4px;
    background-color: #dc3545;
	transform: rotate(45deg);
}

.remove:after {
	left: 213px;
	top: 4px;
	position: absolute;
	margin-left: 0px;
    content: " ";
    height: 40px;
    width: 4px;
    background-color: #dc3545;
	transform: rotate(-45deg);
}


.message {
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	flex-direction: column;
    align-items: center;
	opacity: 0;
	transition: all 0.5s;
}

.message p {
	font-size: 16px;
	margin: 0;
}

.restart {
	position: absolute;
    font-size: 16px;
    text-align: center;
    width: 70px;
    height: 40px;
	left: 50%;
	top: 50%;
    border: none;
    background: white;
    margin: auto;
    padding: 0;
    border-radius: 8px;
	transform: translate(-50%, calc(-50% + 80px));
	z-index: 100;
}